@font-face {
  font-family: 'DINCondenced';
  src: url('/font/DIN-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'DINCondenced', sans-serif;
}

.closeVideoButton {
  position: fixed;
  top: 10px;
  right: 10px;
  background: none;
  opacity: 0.8;
  /*border-radius: 6px;*/
  border: none;
  font-size: 24px;
  cursor: pointer;
  /*color: black;*/
  z-index: 1;
}

.closeButton:hover {
  opacity: 1.0;
}
